.icon {
    display: inline-block;
    height: 28px;
    width: 28px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-image .2s;
}
.icon.isUndo {
    background-image: url(../img/undo.png);
}
.icon.isDone {
    background-image: url(../img/done.png);
}
.icon.isDelete {
    background-image: url(../img/delete.png);
}
.text {
    font-size: 28px;
    vertical-align: middle;
}
ul {
    list-style: none;
    padding-left: 0;
}